.panel {
	text-align: left;
	margin-top: 40px;
}

.panel-body {
	font-size: 20px;
	font-weight: bold;
}

.starter-template {
	max-width: 600px;
	margin: 0 auto;
}

textarea {
	margin-top: 20px;
	border-radius: .285714rem;
	width: 560px;
	height: 119px;
}

textarea:focus {
	box-shadow: 0 0 9px 6px rgba(72, 75, 78, .44);
}


.submit-button-container {
	text-align: right;
	margin-right: 10px;
	margin-top: 10px;
}

.first-header-index-page {
	padding-bottom: 10px;
}

.second-header-index-page {
	margin-top: 50px;
}

.input-row {
	text-align: right;
	margin: 20px;
}

.input-label {
	margin: 5px;
}

input {
	max-width: 72%;
	display: inline-block !important;
}


.new-account-outside-container {
	text-align: center;
	margin: auto;
}

.new-account-inside-container {
	max-width: 70%;
	margin: auto;
	text-align: right;
}


.design-body {
	text-align: left;
}


.edit-button {
    display: inline-block;
    text-align: right;
}