[Unit]
Description=NuMart
After=network.target

[Service]
Type=forking
User=numart
Group=numart
WorkingDirectory=/home/numart/numart
ExecStart=/home/numart/numart/bin/nu_mart start
ExecStop=/home/numart/numart/bin/nu_mart stop
Restart=on-failure
RestartSec=5
Environment=PORT=8000
Environment=LANG=en_US.UTF-8
SyslogIdentifier=nu_mart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
